<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body>

  <section class="colored-section" id="title">
    <div class="container-fluid">

    {% include 'menu.html' %}

      <!-- Title -->
      <div class="row padded-container bg-light">
        <div class="col-lg-6">
          <h1 class="big-heading">Invest in Cryptocurrency from the Big Mining Farms in Mauritius.</h1>
          <h2 class="h2-heading-main">Start Today!</h2>
          <a type="button"  href="/invest/mining_farms" class="btn btn-outline-dark btn-lg get-started-button-main">I want to Invest</a>
          <a type="button" href="/farm/investors" class="btn btn-dark btn-lg get-started-button-main">I'm a Mining Farm</a>
        </div>
        <div class="col-lg-6">
          <img class="title-main-image" src="/static/images/crypt.png" alt="cryptocurrency">
        </div>
      </div>

    </div>

  </section>

  <!-- How it Works -->
  <section class="how-works-section bg-dark">
    <h2>What is Lorem Ipsum?</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <button type="button" class="btn btn-light btn-lg">Learn More</button>
  </section>

  <!-- Features -->
  <section class="features bg-light">
    <div class="container-fluid">
      <div class="row">
        <h2 class="h2-heading">Why CryptInvest?</h2>
        <div class="feature-item col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3>Easy to use.</h3>
          <p>So easy to use, even your child can use it.</p>
        </div>
        <div class="feature-item col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3>Easy to use.</h3>
          <p>So easy to use, even your child can use it.</p>
        </div>
        <div class="feature-item col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3>Easy to use.</h3>
          <p>So easy to use, even your child can use it.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->

  <section class="bg-dark testimonials-section" id="testimonials">
    <h2 class="h2-heading">What People Say</h2>

    <div id="testimonials-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <p class="testimonial-text">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
          <img class="testimonial-image" src="/static/images/man2.jpg" alt="a man">
          <em>Pamplemousses, Mauritius</em>
        </div>
        <div class="carousel-item container-fluid">
          <p class="testimonial-text">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
          <img class="testimonial-image" src="/static/man.jpg" alt="a man">
          <em>Grand Baie, Mauritius</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

  </section>

  <!-- Latest news section -->
  <section class="news-section bg-light">
    <div class="container mt-2">
      <!--   <div class="card card-block mb-2">
    <h4 class="card-title">Card 1</h4>
    <p class="card-text">Welcom to bootstrap card styles</p>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>   -->

    
      <div class="row">
        <h2>Mining Farms in our network</h2>
    {%for farm in farms%}
        
        <div class="col-lg-3 col-md-6 col-sm-12 item">
          <div class="card item-card card-block">
            <img src="/media/{{farm.logo}}" alt="Photo of sunset">
            <h5 class="item-card-title mt-3 mb-3">{{farm.farm_name}}</h5>
            <p class="card-text">{{farm.description}}</p>
            <b>Investment ptions</b>
            <lu>
            {%for option in farm.investment_options.all%}
                <li>{{option}}</li>
            {%endfor%}
            </lu>
            <a type="button" href="/invest" class="btn btn-dark btn-lg">Invest</a>
          </div>
        </div>
    {%endfor%}
    
      </div>

    </div>

  </section>

  <!-- Footer -->

  <footer class="bg-dark footer-section" id="footer">

    <p>© Copyright 2021 CryptConnectors</p>

  </footer>


</body>

</html>
