<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body>

  <section class="colored-section" id="title">
    <div class="container-fluid">
        {% include 'menu.html' %}
    </div>
  </section>

  <!-- farm profile section -->
  <section class="farm-profile-section bg-dark">
    <div class="row padded-container">
      <div class="col-lg-12 col-sm-12 text-left">
        <h3>{{user.farm_name}}</h3>
        <p>List of current investors in the Farm.</p>
      </div>
    </div>

  </section>

  <!-- Investment options -->
  <section class="investment-options-section bg-light">
    <div class="container-fluid">
      <h4>Current Investors</h4>
      {%for investor in investors%}}
      <div class="card">
        <div class="card-body text-left">
          <h5 class="card-title">Person Name</h5>
          <p class="card-text">400,000 MUR?</p>
        </div>
      </div>
      {%endfor%}
      <div class="card">
        <div class="card-body text-left">
          <h5 class="card-title">Investor name1</h5>
          <p class="card-text">400,000 MUR?</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-left">
          <h5 class="card-title">Investor name2</h5>
          <p class="card-text">400,000 MUR?</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer class="bg-dark footer-section" id="footer">

    <p>© Copyright 2021 CryptConnectors</p>

  </footer>


</body>

</html>
